.inner-container{
    gap: 1.5rem;
    background: #00693E;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #00674b;
    text-align: center;
}
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255,255,255,0.587);
}
.inner-container .button{
    background: #50C878;
    border: 2px solid whitesmoke;
    box-shadow: var(--shadow);
    border-radius: 10px;
}